
# Node.js

node_modules/
dist/
build/


# Python

.venv/
venv/
__pycache__/
*.pyc


# Environment Variables

.env
.env.local
r.t

# AI / RAG

vectorstore/

# Uploads (optional)
backend/uploads/

# VS Code
.vscode/

.DS_Store
Thumbs.db
